/* ============================================
   Avatar 组件样式
   ============================================ */

.avatar-container {
  display: inline-block;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color:#141619!important;
}

.avatar-image {
  width: 100%;
  height: 100%;
  display: block;
}

